<html>
<body>
   <!-- Shopping Cart -->
   <form class="buyCar">
      <!-- Start -->
      <div class="top">
         <div class="box1">
            <input type="checkbox" class="allSelect" id="allSelect">
            <label for="allSelect">select all</label>
         </div>
         <div class="box2">Item</div>
         <div class="box3">Price</div>
         <div class="box4">Quantity</div>
         <div class="box5">Subtotal</div>
         <div class="box6">operating</div>
      </div>
      <div class="clear"></div>
      <div class="top2"></div>
      <!-- The upper part of the shopping cart ends -->
      <!-- Start in the middle of the shopping cart -->
      <div class="middle">
         <div class="goods">
            <div class="box11">
               <input type="checkbox" class="check">
               <a href="#"><img src="img/goods1.png" alt=""></a>
            </div>
            </div>
            <div class="box13">
               <span>color：red</span>
            </div>
            <div class="box14">
               <div>&yen;<span>108.00</span></div>
            </div>
            <div class="box15">
               <span class="minus">-</span>
                    <span class="num">1</span>
                    <span class="plus">+</span>
            </div>
            <div class="box16">
               <div>&yen;<span class="subPrice" id="subPrice1">108.00</span></div>
            </div>
            <div class="box17">
               <a href="#">Delete</a>
            </div>
         </div>
         <div class=" clear"></div>
         <div class="goodsSpace"></div>
         <div class="goods">
            <div class="box11">
               <input type="checkbox" class="check">
               <a href="#"><img src="img/goods2.png" alt=""></a>
            </div>
            <div class="box15">
               <span class="minus">-</span>
               <span class="num" id="num2">1</span>
               <span class="plus">+</span>
            </div>
            <div class="box16">
               <div>&yen;<span class="subPrice" id="subPrice2">29.90</span></div>
            </div>
            <div class="box17">
               <a href="#">Delete</a>
            </div>
         </div>
      </div>
      <!-- End -->
      <!-- Last -->
      <div class="bottom">
         <div class="left">
            <input type="checkbox" class="">
            <label for="allSelect">select all</label>
            <a href="#">Delete the selected product</a>
            <a href="#">Move to my items</a>
            <a href="#" class="clearCar">Clean shopping cart</a>
         </div>
         <div class="right">
            <div class="allPrice">
               <div><span class="str">chosen<span class="fontColor1">0</span>Items</span>TotalPrice：<span class="fontColor2">&yen;<span class="allPrice1" id="finalPrice">0.00</span></span></div>
            </div>
            <div class="balance">Checkout</div>
         </div>
      </div>
     
   </form>
   <!-- Ends -->
</body>